<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>
            Home
        </h1>
        <img src = "kim.jpg" height="500px" class="center"/>
        <br><a href="newTask">Add a Task</a>
        <br><a href="listAll">List all Tasks</a>
        <br><a href="updateStatus">Update the Status of a Task</a>
        <br><a href="deleteTask">Delete by TaskID</a>
        <br><a href="deleteComplete">Delete Completed Tasks</a>
        <br><a href="deleteDate">Delete Tasks Before a Certain Date</a>
        <br><a href="newDeveloper">Add a Developer</a>
        <br><a href="listDeveloper">List all Developers</a>
    </body>
</html>